body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center; /* Centering all text by default */
}

header {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
}

header .avatar {
  max-width: 150px;
  border-radius: 50%;
}

nav {
  background-color: #333;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
}

nav ul li a:hover {
  background-color: #575757;
  border-radius: 5px;
}

section {
  padding: 20px;
  text-align: center; /* Centering text in sections */
}

#work .applications {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.work-item {
  position: relative;
  width: 200px;
  margin: 10px;
  border: 2px solid #00cccc;
}

.work-item img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px;
}

@media (min-width: 600px) {
  #work .applications .featured {
    flex: 1 1 50%;
  }
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}
